*
{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;

}
ul li a:hover{
  background-color: #fff;
  color: #000);
}
ul li.active a{
  background-color: #fff;
  color: #000);
}


.main{
  max-width: 1200px;
  margin: auto;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 70px;

}

 .button{
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%,-50%);
 }

.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}

.btn:hover{
  background-color: #fff;
  color: #000);
}
.email {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);

}

h1{
  text-align: center;
  color: black;
  padding: 40px;

}

.ferrets {

  background-size: cover;
  background-position: center;
  margin: 30px auto;


}
.ferrets img{
  width: 50px;
  padding: 5px;
  Transition: 1s;

}

#navbar {
  overflow: hidden;
  background-color: white;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;

}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 40px;
}
#about{
  background-image: url("back.jpg");
  /*height: 150vh;*/
  background-size: cover;
  background-position: center;
  padding: 40px;
}
#navbar, #navbar a{
  background-color: #fff;
  color: black;
}
#contact{

  padding: 0;
  text-align: center;
  background: linear-gradient(rgba(0,0,20,0.5),rgba(0,0,20,0.5)),url("f4.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 500px;
}
.contact-title{

  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;

}

.contact-title h6{
  font-size: 32px;
  line-height: 50px;

}

.contact-title h7{
  font-size: 16px;

}
form{
  margin-top: 50px;
  transition: all 4s ease-in-out;

}
.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #B4E4F1;
  font-size: 18px;
  margin-bottom: 16px;
}
input{
  height: 45px;

}

form .submit{
  background: #B4E4F1;
  background-color: transparent;
  color: #B4E4F1;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover{
  background-color: #B4E4F1;
  cursor: pointer;

}
